<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleav.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>


    <form method="POST" th:if="${cheeses} and ${cheeses.size()}">
            <div th:each="cheese : ${cheeses}">
                <input type="checkbox" name="cheese" th:value="${cheese.getName()}"/>
                <label th:text="${cheese.getName()}" th:name="cheeseName"></label>
            </div>
        <input type="submit" value="Remove Cheese"/>

    </form>



</body>
</html>